#nav-list-item {
  padding: 5px;
  margin-left: 5%;
  width:10%;
  text-align: center;
}

.list-items {
  margin-left: 12.5%;
  width: 90%;
}

#nav-list-item:hover, #nav-list-item:focus {
  border: 2px solid #000;
  border-right: 2px solid #000;
}
