/* 
█████▒ ██▓ ███▄    █  ███▄    █     ▒█████  ▓██   ██▓  ██████ ▄▄▄█████▓▓█████  ██▓ ███▄    █ 
▓██   ▒ ▓██▒ ██ ▀█   █  ██ ▀█   █    ▒██▒  ██▒ ▒██  ██▒▒██    ▒ ▓  ██▒ ▓▒▓█   ▀ ▓██▒ ██ ▀█   █ 
▒████ ░ ▒██▒▓██  ▀█ ██▒▓██  ▀█ ██▒   ▒██░  ██▒  ▒██ ██░░ ▓██▄   ▒ ▓██░ ▒░▒███   ▒██▒▓██  ▀█ ██▒
░▓█▒  ░ ░██░▓██▒  ▐▌██▒▓██▒  ▐▌██▒   ▒██   ██░  ░ ▐██▓░  ▒   ██▒░ ▓██▓ ░ ▒▓█  ▄ ░██░▓██▒  ▐▌██▒
░▒█░    ░██░▒██░   ▓██░▒██░   ▓██░   ░ ████▓▒░  ░ ██▒▓░▒██████▒▒  ▒██▒ ░ ░▒████▒░██░▒██░   ▓██░
▒ ░    ░▓  ░ ▒░   ▒ ▒ ░ ▒░   ▒ ▒    ░ ▒░▒░▒░    ██▒▒▒ ▒ ▒▓▒ ▒ ░  ▒ ░░   ░░ ▒░ ░░▓  ░ ▒░   ▒ ▒ 
░       ▒ ░░ ░░   ░ ▒░░ ░░   ░ ▒░     ░ ▒ ▒░  ▓██ ░▒░ ░ ░▒  ░ ░    ░     ░ ░  ░ ▒ ░░ ░░   ░ ▒░
░ ░     ▒ ░   ░   ░ ░    ░   ░ ░    ░ ░ ░ ▒   ▒ ▒ ░░  ░  ░  ░    ░         ░    ▒ ░   ░   ░ ░ 
       ░           ░          ░        ░ ░   ░ ░           ░              ░  ░ ░           ░ 
                                             ░ ░ 
                                             
TODO: alle section tags skal bruke id fremfor class...                                             
TODO: tror ikke _typography.css er verd å beholde siden dette må defineres manuelt
      i styles hvor det er verd å bruke den fonten
*/

 @import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;  
}

.welcomeCanvas {
  width: 100%;
  height: 55vw;
  display:flex;
  align-items: center;
  background: url('../assets/img/wallpapeEx2.jpg') no-repeat center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 25px;
}

#welcomeText {
  color: white;
  /* font-family: 'Roboto'; */
  font-size: 4vw;
}

.welcomeTextBox {
  font-size: 2vw;
  z-index: 1;
  width: 80%;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 40%;
  bottom: 50%;
  text-align: center;
}

#about {
  width: 100%;
  height: 500px;
  background-color: #ff;
  display:flex;
  align-items: center;
  font-family: 'Lato';
}

/* styling for infoKnapp som tar deg ned til 'om-seksjonen' */
.aboutButton {
  background-color: transparent;
  border-radius: 20px;
  padding: 10%;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  list-style-type: none;
}

.aboutButton:hover {
  transition: all .8s;
  background-color: #fff;
}


/* pseudoClasses - overlay effect for about boxes */
/* .aboutBoxInner::before {
  content: '';
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  background-color: rgba(52, 73, 94, 0.75);
} */

/* .aboutBoxOuter:hover .aboutBoxInner:before, .aboutBoxOuter:focus .aboutBoxInner:before {
  display: block;
} */

#services {
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: #fff;
}

#news {
  width: 100%;
  height: 300px; /* TODO: endre senere! */
  background-color: #dcdcdc; /* TODO: ikke riktig farge dette ass... */
  
  /*paralax-effekt for nyheter seksjonen. wip*/
  background: url('../assets/img/wallpapeEx1.jpg') no-repeat center;
  background-attachment: fixed;
  -moz-background-size: cover;
  background-size: cover;
}

section { text-align: center; }

#contactFormSection {
  width: 100%;
  height: 600px; /* did someone day... unholy? */
  background-color: #e1e1e1;
}

.contactFormBox {
  width: 50%;
  text-align: center;
  position: relative;
  left: 25%;
  rigth: 25%;
  overflow: hidden;
}

.contactForm {
  font-family: 'Roboto';
  font-size: 1vw;
}

.submitButton, .resetButton {
  float: right;
  margin: .1vw;
}

.submitButton:hover, .resetButton:hover {
  transition: all .5s;
  background-color: transparent;
}

footer {
  text-align: center;
  color: #fff;
  height: 100px;
  width: 100%;
  overflow:hidden;
  background-color: #36454f;
}

.phoneNumber { font-family: 'Roboto'; }

.copyrightText {
  text-decoration: none;
  font-family: 'Roboto';
  color: #fff;
  font-size: 12px;
}
