/* 
█████▒ ██▓ ███▄    █  ███▄    █     ▒█████  ▓██   ██▓  ██████ ▄▄▄█████▓▓█████  ██▓ ███▄    █ 
▓██   ▒ ▓██▒ ██ ▀█   █  ██ ▀█   █    ▒██▒  ██▒ ▒██  ██▒▒██    ▒ ▓  ██▒ ▓▒▓█   ▀ ▓██▒ ██ ▀█   █ 
▒████ ░ ▒██▒▓██  ▀█ ██▒▓██  ▀█ ██▒   ▒██░  ██▒  ▒██ ██░░ ▓██▄   ▒ ▓██░ ▒░▒███   ▒██▒▓██  ▀█ ██▒
░▓█▒  ░ ░██░▓██▒  ▐▌██▒▓██▒  ▐▌██▒   ▒██   ██░  ░ ▐██▓░  ▒   ██▒░ ▓██▓ ░ ▒▓█  ▄ ░██░▓██▒  ▐▌██▒
░▒█░    ░██░▒██░   ▓██░▒██░   ▓██░   ░ ████▓▒░  ░ ██▒▓░▒██████▒▒  ▒██▒ ░ ░▒████▒░██░▒██░   ▓██░
▒ ░    ░▓  ░ ▒░   ▒ ▒ ░ ▒░   ▒ ▒    ░ ▒░▒░▒░    ██▒▒▒ ▒ ▒▓▒ ▒ ░  ▒ ░░   ░░ ▒░ ░░▓  ░ ▒░   ▒ ▒ 
░       ▒ ░░ ░░   ░ ▒░░ ░░   ░ ▒░     ░ ▒ ▒░  ▓██ ░▒░ ░ ░▒  ░ ░    ░     ░ ░  ░ ▒ ░░ ░░   ░ ▒░
░ ░     ▒ ░   ░   ░ ░    ░   ░ ░    ░ ░ ░ ▒   ▒ ▒ ░░  ░  ░  ░    ░         ░    ▒ ░   ░   ░ ░ 
       ░           ░          ░        ░ ░   ░ ░           ░              ░  ░ ░           ░ 
                                             ░ ░ 
                                             
TODO: alle section tags skal bruke id fremfor class...                                             

TODO: tror ikke _typography.css er verd å beholde siden dette må defineres manuelt
      i styles hvor det er verd å bruke den fonten
      
TODO: dette prosjektet innebærer såååå mye CSS :O
*/

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.welcomeCanvas {
  z-index: -1;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url('../assets/img/wallpapeEx2.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 25px;
}

#welcomeText {
  color: white;
  font-family: 'Roboto';
  font-size: 4vw;
}

.welcomeTextBox {
  font-size: 2vw;
  z-index: 1;
  width: 80%;
  position: absolute;
  left: 10%;
  rigth: 10%;
  top: 40%;
  bottom: 50%;
  text-align: center;
}

#about {
  width: 100%;
  height: 500px;
  background-color: #ff;
  text-align: center;
}

/* styling for infoKnapp som tar deg ned til 'om-seksjonen' */
.aboutButton {
  background-color: transparent;
  border-radius: 20px;
  width: 10%;
  border: 1px solid #fff;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  list-style-type: none;
}

.aboutButton:hover {
  transition: all .8s;
  background-color: #fff;
}

/* TODO: vurder å dra ut css til enkelte filer for hver section! */
/* TODO: fiks about boks elementer. de må være mer windows-tile enn dette haha! */

.aboutBoxOuter {
  height: 300px;
  width: 20%;
  /* border: 1px solid #fff; */
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
  margin: 2%;
}

.row { width: 100%; }

.aboutBoxInner {
  width: 100%;
  heigth: 100%;
  background-size: cover;
  background-repeat: no-no-repeat;
  background-position: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  background-image: ;
  text-align: center;
  color: #fff;
}

.aboutTextContainer {
  margin-top: 15px;
  width: 80%;
  font-size: 2vw;
  text-align: center;
  font-family: 'Roboto';
  overflow: hidden;
  position: absolute;
  left: 10%;
  right: 10%;
}

/* bakgrunnsbilder til infobokser */
.bb-1 {background-image: url('../assets/img/many.jpg');}
/* bb-2, bb-3 osv... */
.bb-2 {background-image: url('../assets/img/many.jpg');}

.aboutBoxOuter:hover .aboutBoxInner, .aboutBoxOuter:focus .aboutBoxInner {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* pseudoClasses - overlay effect for about boxes */
.aboutBoxInner::before {
  content: '';
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  background-color: rgba(52, 73, 94, 0.75);
}

.aboutBoxOuter:hover .aboutBoxInner:before, .aboutBoxOuter:focus .aboutBoxInner:before {
  display: block;
}

#services {
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: #fff;
}

#news {
  width: 100%;
  height: 300px; /* TODO: endre senere! */
  background-color: #dcdcdc; /* TODO: ikke riktig farge dette ass... */
}

section { text-align: center; }

#contactFormSection {
  width: 100%;
  height: 600px; /* did someone day... unholy? */
  background-color: #e1e1e1;
}

.contactFormBox {
  width: 50%;
  text-align: center;
  position: relative;
  left: 25%;
  rigth: 25%;
  overflow: hidden;
}

.contactForm {
  font-family: 'Roboto';
  font-size: 1vw;
}

.submitButton, .resetButton {
  float: right;
  margin: .1vw;
}

.submitButton:hover, .resetButton:hover {
  transition: all .5s;
  background-color: transparent;
}

footer {
  text-align: center;
  color: #fff;
  height: 100px;
  width: 100%;
  overflow:hidden;
  background-color: #36454f;
}

.phoneNumber { font-family: 'Roboto'; }

.copyrightText {
  text-decoration: none;
  font-family: 'Roboto';
  color: #fff;
  font-size: 12px;
}
