/* 
█████▒ ██▓ ███▄    █  ███▄    █     ▒█████  ▓██   ██▓  ██████ ▄▄▄█████▓▓█████  ██▓ ███▄    █ 
▓██   ▒ ▓██▒ ██ ▀█   █  ██ ▀█   █    ▒██▒  ██▒ ▒██  ██▒▒██    ▒ ▓  ██▒ ▓▒▓█   ▀ ▓██▒ ██ ▀█   █ 
▒████ ░ ▒██▒▓██  ▀█ ██▒▓██  ▀█ ██▒   ▒██░  ██▒  ▒██ ██░░ ▓██▄   ▒ ▓██░ ▒░▒███   ▒██▒▓██  ▀█ ██▒
░▓█▒  ░ ░██░▓██▒  ▐▌██▒▓██▒  ▐▌██▒   ▒██   ██░  ░ ▐██▓░  ▒   ██▒░ ▓██▓ ░ ▒▓█  ▄ ░██░▓██▒  ▐▌██▒
░▒█░    ░██░▒██░   ▓██░▒██░   ▓██░   ░ ████▓▒░  ░ ██▒▓░▒██████▒▒  ▒██▒ ░ ░▒████▒░██░▒██░   ▓██░
▒ ░    ░▓  ░ ▒░   ▒ ▒ ░ ▒░   ▒ ▒    ░ ▒░▒░▒░    ██▒▒▒ ▒ ▒▓▒ ▒ ░  ▒ ░░   ░░ ▒░ ░░▓  ░ ▒░   ▒ ▒ 
░       ▒ ░░ ░░   ░ ▒░░ ░░   ░ ▒░     ░ ▒ ▒░  ▓██ ░▒░ ░ ░▒  ░ ░    ░     ░ ░  ░ ▒ ░░ ░░   ░ ▒░
░ ░     ▒ ░   ░   ░ ░    ░   ░ ░    ░ ░ ░ ▒   ▒ ▒ ░░  ░  ░  ░    ░         ░    ▒ ░   ░   ░ ░ 
       ░           ░          ░        ░ ░   ░ ░           ░              ░  ░ ░           ░ 
                                             ░ ░ 
                                             
TODO: alle section tags skal bruke id fremfor class...                                             
TODO: rare css regler kan få en liten forklaring til senere vedlikehold :)
TODO: vurder å samle all .css her
*/
 @import url('https://fonts.googleapis.com/css?family=Fira+Sans|Karla|Lato|Rakkas|Roboto|Ubuntu|Vollkorn');

* {
  padding: 0;
  margin: 0;
}

html { 
  scroll-behavior: smooth;
  overflow-x: auto;
}

section { text-align: center; }

::selection { background: #e1e1e1; }

::-moz-selection { background: #e1e1e1;}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:active { text-decoration: none; }

#welcomeScreen {
  min-height: 100vh;
}

.welcomeCanvas {
  width: 100%;
  min-height: inherit;
  height: auto;
  display: flex;
  align-items: center;
  /* background: url('../assets/img/wallpapeEx2.jpg') no-repeat center; */
  background: url('../assets/img/GtoppBG.jpg') no-repeat center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 0px;
}

#welcomeText {
  color: white;
  font-size: 4vw;
  text-shadow: 2px 2px 2px black;
}

#about {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-family: 'Lato';
}

/* styling for infoKnapp som tar deg ned til 'om-seksjonen' */
.button-mainButton {
  background-color: transparent;
  border-radius: 20px;
  padding: 10%;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  list-style-type: none;
  margin-top: 2%;
}

.button-mainButton:hover {
  transition: all .8s;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
}

#services {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: #36454f;
  display: flex;
}

#news {
  width: 100%;
  min-height: 40vh;
  background-color: #dcdcdc;
  background: url('../assets/img/RjukanDalen.jpg') no-repeat center;
  background-attachment: fixed;
  -moz-background-size: cover;
  background-size: cover;
}

#contactFormSection {
  width: 100%;
  min-height: 60vh;
  background-color: #e1e1e1;
}

.service-col {
  color: #ffffff;
  width: 30%;
  position: relative;
  font-family: 'Lato';
}

.serviceHeader {
  font-family: 'Roboto';
  font-size: 4vw;
}

.serviceFooter {
  font-family: 'Roboto';
  font-size: 1vw;
}

.serviceBox {
  margin-top: 2%;
  color: #ffffff;
  font-family: 'Roboto';
}

@media screen and (max-width: 1200px) { 
  .service-col { width: 100%;  }
}

.contactFormBox {
  height: 60%;
  width: 50%;
  position: relative;
  left: 25%;
  right: 25%;
  overflow: hidden;
}

#validationResponse {
  height: 40%;
  width: 50%;
  position: relative;
  left: 25%;
  right: 25%;
}

.contactForm {
  font-family: 'Roboto';
  font-size: 1vw;
}

.submitButton, .resetButton {
  float: right;
  margin: .1vw;
}

.submitButton:hover, .resetButton:hover {
  transition: all .5s;
  background-color: transparent;
}

#textBody {
  resize: none;
}

footer {
  text-align: center;
  color: #fff;
  height: 100px;
  width: 100%;
  overflow:hidden;
  background-color: #36454f;
}

.phoneNumber { font-family: 'Roboto'; }

.copyrightText {
  text-decoration: none;
  font-family: 'Roboto';
  color: #fff;
  font-size: 12px;
}

.twitch-link, .twitch-link:hover { color: #4b367c; }

.devLink, .devLink:hover {
  color: #ffffff;
  text-decoration: none;
}

#mailIcon { color: red; }
