@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Karla|Lato|Rakkas|Roboto|Ubuntu|Vollkorn'); 

section { 
  text-align: center; 
  min-height: 0px;
}

::selection { background: #e1e1e1; }
::-moz-selection { background: #e1e1e1;}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

* {
  padding: 0;
  margin: 0;
}


html { 
  scroll-behavior: smooth;
  overflow-x: auto;
}

.top-navbar {
  z-index: 9999;
  overflow: hidden;
  background-color: #36454f;
}

.top-navbar a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navbar a:hover {
  background-color: #fff;
  color: black;
  text-decoration: none;
}

.top-navbar a.active {
  background-color: #fff;
  color: white;
}

.top-navbar a.active {
  color: #000000;
}

.top-navbar .burgerIcon {
  display: none;
}

@media screen and (max-width: 600px) {
  .top-navbar a:not(:first-child) {display: none;}
  .top-navbar a.burgerIcon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .top-navbar.responsive { position: relative; }
  .top-navbar.responsive .burgerIcon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .top-navbar.responsive a {
    float: none;
    display: flex;
    text-align: left;
  }
}

.covid19Warning {
  display: flex;
  height: 20px;
  background-color:yellow;
  justify-content: center;
}

#servicesLink, #newsLink, #contactLink { margin-left: 15%; }

#welcomeScreen { min-height: 100vh;}

.welcomeCanvas {
  z-index: 2;
  width: 100%;
  min-height: inherit;
  height: auto;
  display: flex;
  align-items: center;
  background: transparent;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  top: 0px;
}

#particles-js {
  z-index: 1;
  background: url('../assets/img/backgrounds/GaustatoppenBG.JPG') no-repeat center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: transparent; */
  width: 100%;
  min-height: inherit;
  height: auto;
  display: block;
  position: absolute;
}

#welcomeText {
  z-index: 3;
  color: white;
  font-size: 4vw;
  text-shadow: 2px 2px 2px black;
}

/* styling for infoKnapp som tar deg ned til 'om-seksjonen' */
.button-mainButton {
  z-index: 3;
  background-color: transparent;
  border-radius: 20px;
  padding: 10%;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  list-style-type: none;
  margin-top: 2%;
}

.button-mainButton:hover {
  transition: all .8s;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
}

.half-ruler {
  position: relative;
  left: 25%;
  right: 25%;
  text-align: inherit;
  width: 50%;
}

/* page sections */
#about {
  width: 100%;
  height: 700px;
  padding: 5%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  font-family: 'Lato';
}

#services {
  display: flex;
  align-items: center;
  padding: 5%;
  width: 100%;
  min-height: 90vh;
  text-align: center;
  background-color: #36454f;
  display: flex;
}

.warning-icon {
  display: flex;
  justify-content: inherit;
  margin: 0 auto;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: yellow;
}

.news {
  display: flex;
  background-color: #fff;
  color: #36454f;
  height: 500px;
  padding: 5%;
}

.newsTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 970px;
}

#bottomSection {
  width: 100%;
  min-height: 40vh;
  background-color: #dcdcdc;
  background: url('../assets/img/backgrounds/VestfjorddalenBG.JPG') no-repeat center;
  background-attachment: fixed;
  -moz-background-size: cover;
  background-size: cover;
}

#contactFormSection {
  min-height: 84vh;
  background-color: #e1e1e1;
}

.service-col {
  color: #ffffff;
  width: 30%;
  position: relative;
  font-family: 'Lato';
}

.serviceHeader {
  font-family: 'Roboto';
  font-size: 4vw;
}

.serviceFooter {
  font-family: 'Roboto';
  font-size: 1vw;
}

.serviceBox {
  margin-top: 2%;
  color: #ffffff;
  font-family: 'Roboto';
}

/* contact-form */

.contactFormBox {
  height: 60%;
  width: 50%;
  position: relative;
  left: 25%;
  right: 25%;
  overflow: hidden;
}

.contactForm {
  font-family: 'Roboto';
  font-size: 10%;
}

.submitButton, .resetButton {
  float: right;
  margin: .1vw;
}

.submitButton:hover, .resetButton:hover {
  transition: all .5s;
  background-color: transparent;
}

#validationResponse {
  height: 150px;
  width: 80%;
  position: flex;
  margin: 0 auto;
  margin-top: 10px;
  left: 25%;
  right: 25%;
}

#textBody {
  resize: none;
}

footer {
  text-align: center;
  color: #fff;
  height: 100px;
  width: 100%;
  overflow:hidden;
  background-color: #36454f;
}

.phoneNumber { font-family: 'Roboto'; }

.copyrightText {
  text-decoration: none;
  font-family: 'Roboto';
  color: #fff;
  font-size: 12px;
}

.devLink, .devLink:hover {
  color: #ffffff;
  text-decoration: none;
}

#mailIcon { color: orange; }

/*media-queries / responsiveness*/
@media screen and (max-width: 1200px) { 
  .service-col { width: 100%;  }
}